body {
    height: 100%;
    margin: 0;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
/* Main Content Area */
#content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    margin-left: 0px; /* Align to the left of the available space */
    margin-right: 650px; /* Adjust this value to create space between content and sidebar */
    padding-top: 20px; /* Add padding to the top */
    width: 70%; /* Adjust width as necessary */
}

/* Container for Post */
#post {
    width: 100%; /* Post takes up full width of content container */
    padding: 20px; /* Optional: add some padding */
}

/* Other components */
#right-sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the right */
    position: absolute;
    right: 0;
    top: 100px; /* Adjust this value based on your layout */
    width: 300px; /* Adjust this width as needed */
    margin-right: 150px;
   
}

/* Search Box Styles */
#search-box {
    width: 100%;
}

/* Recent Posts Styles */
#recent-posts {
    width: 100%;
}

#pub-auth {
    width: 100%;
}

#archives {
    width: 100%;
}



/* Responsive Layout */
@media screen and (max-width: 1024px) {
    /* For screens smaller than 1024px, stack content and sidebar vertically */
    #content {
        width: 90%; /* Expand content to take up more width */
        margin-right: auto; /* Reset right margin */
        margin-left: auto; /* Center content horizontally */
        padding-bottom: 20px; /* Add some space at the bottom */
    }

    #right-sidebar {
        position: relative; /* Make sidebar flow with content */
        right: auto; /* Reset right position */
        top: auto; /* Reset top position */
        width: 100%; /* Make sidebar take full width */
        align-items: flex-start; /* Align items to the left */
        margin-left: auto; /* Center horizontally */
        margin-top: 20px; /* Add space between content and sidebar */
    }
}