<div class="pub-auth">
    <h2>Publishing Authority</h2>
    <h2>_____________________________________</h2>
    <ul id="auth-list">
        <!-- سيتم ملء المشاركات هنا عبر JavaScript -->
        <li>
            <img src="person1.jpg" aly="Author image" class="auth-img">
            <div class="auth-info">
            <a href="#post1" class="name-auth">Post Title 1</a>
            <p class="post-date">January 1, 2024</p>
        </div>
        </li>
        <li>
            <img src="person2.jpg" alte="Author image" class="auth-img">
            <div class="auth-info">
            <a href="#post2" class="name-auth">Post Title 2</a>
            <p class="post-date">January 2, 2024</p>
        </div>
        </li>
        <li>
            <img src="person1.jpg" alte="Author image" class="auth-img">
            <div class="auth-info">
            <a href="#post3" class="name-auth">Post Title 3</a>
            <p class="post-date">January 3, 2024</p>
        </div>
        </li>
        <li>
            <img src="person2.jpg" alte="Author image" class="auth-img">
            <div class="auth-info">
            <a href="#post4" class="name-auth">Post Title 4</a>
            <p class="post-date">January 4, 2024</p>
        </div>
        </li>
        <li>
            <img src="#" alte="Author image" class="auth-img">
            <div class="auth-info">
            <a href="#post5" class="name-auth">Post Title 5</a>
            <p class="post-date">January 5, 2024</p>
        </div>
        </li>
    </ul>
</div>
   
