.search-box{
    width: 400px; /* ضبط العرض حسب الحاجة */
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    position: relative;
   /* margin-right: 100px;*/

}
h2 {
    
    font-size: 18px;
    margin-bottom: 15px;

}
.search-box input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #ebeaea;
    border-radius: 30px;
    color: rgb(111, 109, 109);
    font-size: 16px;
    text-align: center;
    padding-left: 15px;
    padding-right: 50px;
    box-sizing: border-box;
   
}
.search-box button{
    position: absolute;
    top: 75%;
    right: 16px; 
    transform:translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
  
    /*  margin-right: 50px;
    transform: scale(0.9);*/
    background: green;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.search-box:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


/*////////////////////////////////////////////////////////////////////////////////////////////// recent-posts.css */
.recent-posts {
    width: 400px; /* Adjust width as needed */
    height: 400px; /* Adjust height as needed */
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
  
}

.recent-posts:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#posts-list {
    max-height: 300px; /* Set max height for the posts list */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 0;
    margin: 0;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: green #ccc; /* Scrollbar color for Firefox */  
}

/* Scrollbar for WebKit (Chrome, Safari, etc.) */
#posts-list::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

#posts-list::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Background color of the scrollbar track */
}

#posts-list::-webkit-scrollbar-thumb {
    background-color: green; /* Color of the scrollbar thumb */
    border-radius: 5px;
}

#posts-list::-webkit-scrollbar-thumb:hover {
    background-color: green; /* Color of the scrollbar thumb on hover */
}

.recent-posts h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.recent-posts ul {
    display: block;
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.recent-posts li {
    margin-bottom: 40px;
    margin-right: 20px;
}

.recent-posts a {
    text-decoration: none;
    color: green;
    font-weight: bold;
}

.recent-posts a:hover {
    text-decoration: underline;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////*/


/* auth.css */
.pub-auth {
    width: 400px;
    height: 400px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}


.pub-auth:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.pub-auth ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.pub-auth li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#auth-list {
    max-height: 300px; /* Set max height for the posts list */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 0;
    margin: 0;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: green #ccc; /* Scrollbar color for Firefox */  
}

/* Scrollbar for WebKit (Chrome, Safari, etc.) */
#auth-list::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

#auth-list::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Background color of the scrollbar track */
}

#auth-list::-webkit-scrollbar-thumb {
    background-color: green; /* Color of the scrollbar thumb */
    border-radius: 5px;
}

#auth-list::-webkit-scrollbar-thumb:hover {
    background-color: green; /* Color of the scrollbar thumb on hover */
}

.auth-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.auth-info {
    display: flex;
    flex-direction: column;
}

.name-auth {
    text-decoration: none;
    color: green;
    font-weight: bold;
}

.name-auth:hover {
    text-decoration: underline;
}

.post-date {
    font-size: 12px;
    color: #6c757d;
}
/*/*/
.archives {
    width: 400px;
    height: 400px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.archives:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.archives ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}
.archives li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.archives li a {
    color: green;
    text-decoration: none;
}
.year {
    color: rgb(15, 15, 15);
    text-decoration: none;
    
}

#list-archives {
    max-height: 300px; /* Set max height for the posts list */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 0;
    margin: 0;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: green #ccc; /* Scrollbar color for Firefox */  
}

/* Scrollbar for WebKit (Chrome, Safari, etc.) */
#list-archives::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

#list-archives::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Background color of the scrollbar track */
}

#list-archives::-webkit-scrollbar-thumb {
    background-color: green; /* Color of the scrollbar thumb */
    border-radius: 5px;
}

#list-archives::-webkit-scrollbar-thumb:hover {
    background-color: green; /* Color of the scrollbar thumb on hover */
}

