<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>El Mufakkir</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="secend.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="/components/navbar/navbar.css">
  
  <link rel="stylesheet" href="/css/Style.css">
  <link rel="stylesheet" href="/components/footer/footer.css">
</head>
<body>

    <header id="navbar">

        <input type="checkbox" name="" id="chk1">
            
            <div class="logo"><h1>El Mufakkir</h1></div>
            <div class="navbar" id="navbar">
            <ul>
                <li>
                    <a href="/index.html">Home</a>
                </li>
                <li>
                    <a href="contact.html">About Us</a>
                </li>
                <li>
                    <a href="contact.html">Annonce</a>
                </li>
                <li>
                    <a  href="contact.html">Contact</a>
                    
                </li>
            </ul></div>
            <!-- <div class="search-box">
                <form action="">
                    <input type="text" name="search" id="srch" placeholder="Search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div> -->
            <div class="menu">
                <label for="chk1"><i class="fa fa-bars"></i></label>
            </div>
        
    
       </header>


       <div class="about-container">
      <h2>About Us</h2>
      <div class="content">
        <div class="description-section">
          <h2>Description</h2>
          <p>
            "El-Mofaker" is an international refereed review published
            semi-annually (June-December) by the Faculty of Law and Political
            Science at the University of Mohamed Khider Biskra, Algeria. It
            specializes in the fields of law and political science, including
            public and private law in all its branches, political science in all
            its branches, as well as Sharia law, and public administration.
          </p>
          <p>
            The review primarily aims to offer free publication—on paper and
            electronically—of original works, studies, and innovative research
            in three languages: Arabic, English, and French, for professors and
            researchers worldwide. It contributes to enriching scientific
            knowledge and developing specialized studies in the aforementioned
            fields.
          </p>
        </div>
        <div class="info-section">
          <h2>Journal Information</h2>
          <div class="journal-info">
            <div><span>EISSN:</span> 2600-6081</div>
            <div><span>Frequency:</span> Biannual</div>
            <div><span>Acceptance Rate:</span> 91%</div>
            <div><span>Average Response Time:</span> 290 Days</div>
            <div>
              <span>Average Publication Time After Acceptance:</span> 66 Days
            </div>
            <div><span>Year of Creation:</span> 2006</div>
            <div><span>Country:</span> Algeria</div>
            <div>
              <span>Institution:</span> University of Mohamed Khider Biskra
            </div>
            <div><span>Impact Factor (ASJP):</span> 0.6455</div>
          </div>
        </div>
      </div>
      <!-- Announcements Section -->
      <div class="announcements-section">
        <h2>Announcements</h2>
        <div class="cards-slider">
          <div class="cards-container">
            <!-- Card 1 -->
            <div class="card">
              <h3>First Issue - June</h3>
              <p>The maximum date for receiving articles is April 10th.</p>
              <strong></strong>
              <p class="date">Date: 10-04-2023</p>
            </div>

            <!-- Card 2 -->
            <div class="card">
              <h3>Second Issue - December</h3>
              <p>The maximum date for receiving articles is October 10th.</p>
              <strong></strong>
              <p class="date">Date: 10-10-2023</p>
            </div>

            <!-- Card 3 -->
            <div class="card">
              <h3>Important Notice</h3>
              <p>Articles written in English are excluded from deadlines.</p>
              <strong></strong>
              <p class="date">Date: 30-01-2023</p>
            </div>

            <!-- Card 4 -->
            <div class="card">
              <h3>Editor’s Note</h3>
              <p>
                We thank everyone for their understanding.
                <br />
                <strong>Editor-in-Chief: PR BARI ABDELATIF</strong>
              </p>
              <p class="date">Date: 30-01-2023</p>
            </div>
          </div>
        </div>
      </div>
   


<main id="contact-section">
  <h2> Contact</h2>
      <div class="container">
          <!-- Contact Form Section -->
          
          <div class="col-lg-8 col-12">
            <h2><span> in touch</span></h2>
            <p>Feel free to reach out to us for any inquiries or feedback.</p>
            <form method="POST" action="http://localhost:8000/contact-us" id="contact-form">
              <input name="_token" type="hidden" value="W7aN6Q1WsfwYv6OGHX3XGiCMjVeW20gaLyrosGbs">
              <div>
                <input placeholder="Name" name="name" type="text" required>
                <input placeholder="Email" name="email" type="email" required>
                <input placeholder="Mobile" name="mobile" type="text">
            </div>
              <input placeholder="Subject" name="title" type="text"> 
              <textarea placeholder="Type your message here.." name="message" rows="4"></textarea>
           
              <button type="submit">Send Message</button>
            </form>
          </div>
          
          <!-- Office Info Section -->
          <div class="col-lg-4 col-12">
            <h2>Get office info.</h2>
            <p>Visit our office or contact us through the provided details.</p>
            <div >
              <div class="prgrph">
                <i class="fas fa-map-marker-alt"></i>
                <p><strong>Address:</strong> University mohammed khaider ,Biskra Algerian </p>
              </div>
              <div class="prgrph">
                <i class="fas fa-phone-alt"></i>
                <p><strong>Phone:</strong> 05123456789</p>
              </div>
              <div class="prgrph">
                <i class="fas fa-envelope"></i>
                <p><strong>Email:</strong> admin@bloggi.test</p>
              </div>
              <div class="prgrph">
                <i class="fas fa-globe"></i>
                <p><strong>Website:</strong> El-Muffaker</p>
              </div>
            </div>
          </div>
      </div>
    </div>


      <footer id="footer"></footer>
  </main>

  <script src="../components/footer/footer.js"></script>
  <script >

function loadComponent(id, file) {
    const element = document.getElementById(id);
    fetch(file)
        .then(response => response.text())
        .then(data => {
            element.innerHTML = data;
        });
}
loadComponent('footer','../footer/footer.html');
  </script>
</body>
</html>

