
        <!-- <input type="checkbox" name="" id="chk1">
       <header>
        
        <div class="logo"><h1>El Mufakkir</h1></div>
        <div class="navbar" id="navbar">
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">About Us</a>
            </li>
            <li>
                <a href="#">Annonce</a>
            </li>
            <li>
                <a  href="../secend-page/contact.html">Contact</a>
                
            </li>
        </ul></div>
        <div class="search-box">
            <form action="">
                <input type="text" name="search" id="srch" placeholder="Search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div> 
        <div class="menu">
            <label for="chk1"><i class="fa fa-bars"></i></label>
        </div>
    </header> -->
  
   