.search-box{
    width: 400px; /* ضبط العرض حسب الحاجة */
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    position: relative;
   /* margin-right: 100px;*/

}
h2 {
    
    font-size: 18px;
    margin-bottom: 15px;

}
.search-box input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #ebeaea;
    border-radius: 30px;
    color: rgb(111, 109, 109);
    font-size: 16px;
    text-align: center;
    padding-left: 15px;
    padding-right: 50px;
    box-sizing: border-box;
   
}
.search-box button{
    position: absolute;
    top: 75%;
    right: 16px; 
    transform:translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
  
    /* 
      margin-right: 50px;
    
    transform: scale(0.9);*/
    background: green;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
   
}