<footer>
    <div class="footer-content">
    <ul class="social_media">
        <li><a href="https://www.facebook.com/fdsbiskra" target="_blank">
            <img src="/assets/communication.png" alt="facebook icon" style="width: 40px; height: 40px;"></i>
        </a></li>
        <li><a href="https://fdsp.univ-biskra.dz/" target="_blank">
            <img src="/assets/site-internet.png" alt="site-web icon" style="width: 40px; height: 40px;"></i>
        </a></li>
        <li><a href="https://maps.app.goo.gl/CFmsP5WHb1tnH3kb9" target="_blank">
            <img src="/assets/image.png" alt="maps icon" style="width: 40px; height: 40px;"></i>
        </a></li>
       
    </ul>
    <ul class="contact-info">
        <li>
            <p class="info-footer">University of Biskra - P.O. Box 145 Q.R.-07000 - Biskra Algeria</p>
            <p class="info-footer">Fax: 033-12-50-28 Phone: 033-12-50-19</p>
        </li>
    </ul>
</div>
    <p class="copyright">Copyright 2024</p>

</footer>
