/* تنسيق الفوتر الأساسي */
footer {
    font-family: 'Segoe UI', sans-serif;
    padding: 20px 0; /* مسافة داخلية */
    background-color: #B17457; /* لون الخلفية */
    text-align: center; /* توسيط النص */
    width: 100%; /* لجعل الفوتر يمتد عبر كامل العرض */
    position: relative; /* إعداد الموقع */
    bottom: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between; /* توزيع العناصر بالتساوي */
    align-items: center; /* محاذاة العناصر عمودياً */
    max-width: 1200px; /* عرض أقصى للفوتر */
    margin: 0 auto; /* توسيط الفوتر في الصفحة */
    padding: 0 20px; /* مسافة جانبية */
}

footer ul {
    padding: 0;
    list-style: none;
    font-size: 12px;
    color: #fff;
    line-height: 1.6;
    margin: 0;
}

.info-footer {
    color: #fff;
}

footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

footer ul li {
    display: inline-block;
    padding: 0 14px;
}

footer ul a:hover {
    opacity: 1;
}

footer .copyright {
    margin-top: 14px;
    font-size: 13px;
    color: #aaa;
}
